In [40]:
# 필요 라이브러리 불러오기
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os

In [197]:
# 디렉토리 작성
csv_file_path = os.getenv('HOME')+'/aiffel/data_preprocess/data/vgsales.csv'

In [198]:
# 파일 불러오기
vgs = pd.read_csv(csv_file_path)

In [199]:
vgs

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [200]:
# 결측값 카테고리와 개수 확인
len(vgs) - vgs.count()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [201]:
# 퍼블리셔와 년도 카테고리 둘 다 결측 값이면 제거
vgs.dropna(how='all', subset=['Year', 'Publisher'], inplace=True)

In [202]:
# 퍼블리셔 카테고리 제거
vgs = vgs.drop(columns='Publisher')

In [203]:
# 년도 카테고리에 결측치 평균 년도로 작성
vgs['Year'] = vgs['Year'].fillna(vgs['Year'].mean().round())

In [204]:
# 중복된 데이터가 있나 확인
vgs.duplicated().any()

False

In [206]:
# 결측치 데이터 있나 확인
vgs.isnull().sum()

Rank            0
Name            0
Platform        0
Year            0
Genre           0
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

In [207]:
# 이상치 데이터 마스킹 하는 함수 만들고 데이터 프레임에 적용
def outlier2(df, col):
    q1 = df[col].quantile(0.25)
    q3 = df[col].quantile(0.75)
    iqr = q3-q1
    return df[(q1 - 1.5*iqr < df[col])|(q3 + 1.5*iqr > df[col])]
vgs = outlier2(vgs, 'Global_Sales')
vgs

,Rank,Name,Platform,Year,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,0.01,0.00,0.00,0.00,0.01

In [180]:
# 정규화에 사용할 세일즈 칼럼 변수 만들고 standardization 잘 되나 확인
cols = ['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales']
vgs_std = (vgs[cols] - vgs[cols].mean()) / vgs[cols].std()
vgs_std

        NA_Sales   EU_Sales   JP_Sales  Other_Sales  Global_Sales
0      50.452680  57.106626  11.930080    44.581635     52.834440
1      35.264917   6.790482  21.752881     3.825984     25.518107
2      19.073612  25.184356  11.994704    17.287538     22.677208
3      18.951229  21.485803  10.346800    15.432600     20.864689
4      13.468459  17.292791  32.771220     5.044943     19.817028
...          ...        ...        ...          ...           ...
16593  -0.311896  -0.290170  -0.251485    -0.254881     -0.339213
16594  -0.311896  -0.290170  -0.251485    -0.254881     -0.339213
16595  -0.324135  -0.290170  -0.251485    -0.254881     -0.339213
16596  -0.324135  -0.270392  -0.251485    -0.254881     -0.339213
16597  -0.311896  -0.290170  -0.251485    -0.254881     -0.339213

[16576 rows x 5 columns]

In [181]:
# Min max scaling 데이터에 적용
vgs[cols] = (vgs[cols] - vgs[cols].min()) / (vgs[cols].max() - vgs[cols].min())
vgs

,Rank,Name,Platform,Year,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,1.000000,1.000000,0.368885,0.800378,1.000000
1,2,Super Mario Bros.,NES,1985.0,Platform,0.700892,0.123363,0.666341,0.072848,0.486281
2,3,Mario Kart Wii,Wii,2008.0,Racing,0.382020,0.443832,0.370841,0.313150,0.432854
3,4,Wii Sports Resort,Wii,2009.0,Sports,0.379610,0.379394,0.320939,0.280038,0.398767
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,0.271632,0.306340,1.000000,0.094607,0.379064
...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,0.000241,0.000000,0.000000,0.000000,0.000000
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,0.000241,0.000000,0.000000,0.000000,0.000000
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,0.000000,0.000000,0.000000,0.000000,0.000000
16596,16599,Know How 2,DS,2010.0,Puzzle,0.000000,0.000345,0.000000,0.000000,0.000000
16597,16600,Spirits & Spells,GBA,2003.0,Platform,0.000241,0.000000,0.000000,0.000000,0.000000

In [208]:
# 원 핫 인코딩 게임 장르 카테고리에 적용
genre = pd.get_dummies(vgs['Genre'])
genre.head()

,Action,Adventure,Fighting,Misc,Platform,Puzzle,Racing,Role-Playing,Shooter,Simulation,Sports,Strategy
0,0,0,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,1,0,0,0,0

In [210]:
# 원본 데이터와 장르 카테고리 병합 후 장르 카테고리 제거
vgs = pd.concat([vgs, genre], axis=1)
vgs.drop(['Genre'], axis=1, inplace=True)

In [211]:
vgs.head()

,Rank,Name,Platform,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Action,...,Fighting,Misc,Platform,Puzzle,Racing,Role-Playing,Shooter,Simulation,Sports,Strategy
0,1,Wii Sports,Wii,2006.0,41.49,29.02,3.77,8.46,82.74,0,...,0,0,0,0,0,0,0,0,1,0
1,2,Super Mario Bros.,NES,1985.0,29.08,3.58,6.81,0.77,40.24,0,...,0,0,1,0,0,0,0,0,0,0
2,3,Mario Kart Wii,Wii,2008.0,15.85,12.88,3.79,3.31,35.82,0,...,0,0,0,0,1,0,0,0,0,0
3,4,Wii Sports Resort,Wii,2009.0,15.75,11.01,3.28,2.96,33.00,0,...,0,0,0,0,0,0,0,0,1,0
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,11.27,8.89,10.22,1.00,31.37,0,...,0,0,0,0,0,1,0,0,0,0

In [212]:
# 년도 구간화 하기. 년도에 최소값이 1980, 최대값이 2020이라서 직접 bins 변수 생성 후 적용
bins = [1980, 1990, 2000, 2010, 2020]
vgs['Year'] = pd.cut(vgs['Year'], bins=bins)
vgs

,Rank,Name,Platform,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Action,...,Fighting,Misc,Platform,Puzzle,Racing,Role-Playing,Shooter,Simulation,Sports,Strategy
0,1,Wii Sports,Wii,"(2000, 2010]",41.49,29.02,3.77,8.46,82.74,0,...,0,0,0,0,0,0,0,0,1,0
1,2,Super Mario Bros.,NES,"(1980, 1990]",29.08,3.58,6.81,0.77,40.24,0,...,0,0,1,0,0,0,0,0,0,0
2,3,Mario Kart Wii,Wii,"(2000, 2010]",15.85,12.88,3.79,3.31,35.82,0,...,0,0,0,0,1,0,0,0,0,0
3,4,Wii Sports Resort,Wii,"(2000, 2010]",15.75,11.01,3.28,2.96,33.00,0,...,0,0,0,0,0,0,0,0,1,0
4,5,Pokemon Red/Pokemon Blue,GB,"(1990, 2000]",11.27,8.89,10.22,1.00,31.37,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,"(2000, 2010]",0.01,0.00,0.00,0.00,0.01,0,...,0,0,1,0,0,0,0,0,0,0
16594,16597,Men in Black II: Alien Escape,GC,"(2000, 2010]",0.01,0.00,0.00,0.00,0.01,0,...,0,0,0,0,0,0,1,0,0,0
16595,16598,SCORE International Baja 1000: The Official Game,PS2,"(2000, 2010]",0.00,0.00,0.00,0.00,0.01,0,...,0,0,0,0,1,0,0,0,0,0
16596,16599,Know How 2,DS,"(2000, 2010]",0.00,0.01,0.00,0.00,0.01,0,...,0,0,0,1,0,0,0,0,0,0
16597,16600,Spirits & Spells,GBA,"(2000, 2010]",0.01,0.00,0.00,0.00,0.01,0,...,0,0,1,0,0,0,0,0,0,0

In [217]:
# 처음엔 랭킹도 구간화 가능할까 생각했었지만 데이터가 너무 많아서 인덱스를 랭킹으로 만듬
vgs.index = vgs['Rank']
vgs.drop(['Rank'], axis=1, inplace=True)

In [218]:
vgs

,Name,Platform,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Action,Adventure,...,Fighting,Misc,Platform,Puzzle,Racing,Role-Playing,Shooter,Simulation,Sports,Strategy
Rank,,,,,,,,,,,,,,,,,,,,,
1,Wii Sports,Wii,"(2000, 2010]",41.49,29.02,3.77,8.46,82.74,0,0,...,0,0,0,0,0,0,0,0,1,0
2,Super Mario Bros.,NES,"(1980, 1990]",29.08,3.58,6.81,0.77,40.24,0,0,...,0,0,1,0,0,0,0,0,0,0
3,Mario Kart Wii,Wii,"(2000, 2010]",15.85,12.88,3.79,3.31,35.82,0,0,...,0,0,0,0,1,0,0,0,0,0
4,Wii Sports Resort,Wii,"(2000, 2010]",15.75,11.01,3.28,2.96,33.00,0,0,...,0,0,0,0,0,0,0,0,1,0
5,Pokemon Red/Pokemon Blue,GB,"(1990, 2000]",11.27,8.89,10.22,1.00,31.37,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16596,Woody Woodpecker in Crazy Castle 5,GBA,"(2000, 2010]",0.01,0.00,0.00,0.00,0.01,0,0,...,0,0,1,0,0,0,0,0,0,0
16597,Men in Black II: Alien Escape,GC,"(2000, 2010]",0.01,0.00,0.00,0.00,0.01,0,0,...,0,0,0,0,0,0,1,0,0,0
16598,SCORE International Baja 1000: The Official Game,PS2,"(2000, 2010]",0.00,0.00,0.00,0.00,0.01,0,0,...,0,0,0,0,1,0,0,0,0,0
16599,Know How 2,DS,"(2000, 2010]",0.00,0.01,0.00,0.00,0.01,0,0,...,0,0,0,1,0,0,0,0,0,0
16600,Spirits & Spells,GBA,"(2000, 2010]",0.01,0.00,0.00,0.00,0.01,0,0,...,0,0,1,0,0,0,0,0,0,0